{#
{% extends 'base.html.twig' %}

{% block title %}LigneInventaire index{% endblock %}

{% block body %}
    <h1>LigneInventaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>article</th>
                <th>QteInv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_inventaire in ligne_inventaires %}
            <tr>
                <td>{{ ligne_inventaire.article }}</td>
                <td>{{ ligne_inventaire.stock.qte }}</td>
                <td>
                    <a href="{{ path('ligne_inventaire_show', {'id': ligne_inventaire.id}) }}">show</a>
                    <a href="{{ path('ligne_inventaire_edit', {'id': ligne_inventaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ligne_inventaire_new') }}">Create new</a>
{% endblock %}
#}

{% extends 'base.html.twig' %}
{% import "form.html.twig" as formulaire %}
{# {% block title %} {{ app.user.email|upper }} {% endblock %} #}

{% block body_class %} class="nav-md" {% endblock %}
{% block body %}

    {#<div class="layout-boxed navbar-top">#}
    {% include('layout/navbar.html.twig') %}
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="col-md-12">
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">

                            </div>
                        </div>
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="#"><i class="icon-home2 position-left"></i> الجرد</a></li>
                                <li class="active">مراجعة المخزون</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="col-md-12">
                    <div class="panel">


                        <div class="col-md-12">
                            <div class="panel">
                                <div class="title">
                                    <h1> &nbsp;{{ "Ligne inventaire revision"|trans }}
                                                                                &nbsp;&nbsp;{{ "now"|date("d/m/Y") }}
                                        {#{% for ligne_inventaire in ligne_inventaires %}

                                                {{ ligne_inventaire.inventaire.date|date("y-m-d") }}

                                        {% endfor %}#}</h1>
                                    {% include('layout/flash-messages.html.twig') %}
                                    <hr>
                                </div>
                                <div class="content">
                                    <div class="row">

                                        <table class="table table-bordered">
                                            <thead>

                                            <tr class="bg-orange-800">
                                                <th>{{ "Article"|trans }}</th>
                                                <th>{{ "Qte inv"|trans }}</th>
                                                <th>{{ "Qte predict"|trans }}</th>
                                                <th>{{ "Difference"|trans }}</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for ligne_inventaire in ligne_inventaires %}
                                                <tr>
                                                    <td>{{ ligne_inventaire.article }}</td>
                                                    <td>{{ ligne_inventaire.qteInv }}</td>
                                                    <td>{{ ligne_inventaire.stock.qteReste }}</td>
                                                    <td>
                                                        {% set q  =  ligne_inventaire.qteInv- ligne_inventaire.stock.qteReste  %}
                                                        {% if q == 0 %}
                                                                <button  class="btn btn-success btn-rounded">{{ ligne_inventaire.qteInv- ligne_inventaire.stock.qteReste }}</button>

                                                            {% elseif q > 0 %}
                                                                <button  class="btn btn-warning btn-rounded">{{ ligne_inventaire.qteInv- ligne_inventaire.stock.qteReste }}</button>
                                                            {% else %}
                                                                <button  class="btn btn-danger btn-rounded">{{ ligne_inventaire.qteInv- ligne_inventaire.stock.qteReste }}</button>

                                                        {% endif %}

                                                    </td>

                                                </tr>


                                            {% else %}
                                                <tr style="text-align: center">
                                                    <td colspan="4">{{ "no records found"|trans }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <br>
                                        <br>
                                        {#                                        <div class="text-right" >#}
                                        {#                                            {{ knp_pagination_render(ligne_inventaires) }}#}
                                        {#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
        {% include('layout/footer.html.twig') %}
    </div>
    <!-- /page container -->
    {#</div>
    </div>#}
{% endblock %}