{% extends 'base.html.twig' %}

{% block title %}Societe{% endblock %}

{% block body %}

{#<div class="layout-boxed navbar-top">#}
    {% include('layout/navbar.html.twig') %}
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">

                        </div>
                    </div>

                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icon-home2 position-left"></i> الملف</a></li>
                            <li class="active">{{ "Societe"|trans }}</li>
                        </ul>

                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="col-md-12">
                    <div class="panel">
                        <div class="col-md-12">

                            <!-- Basic layout-->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{{ "Info Societe"|trans }}</h1>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a data-action="collapse"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>

                                <div class="panel-body">

                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>{{ "Ministere"|trans }}</th>
                                                <td>{{ societe.ministere }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ "Nom soc"|trans }}</th>
                                                <td>{{ societe.NomSoc }}</td>
                                            </tr>

                                            <tr>
                                                <th>{{ "Siege"|trans }}</th>
                                                <td>{{ societe.siege }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ "Adresse"|trans }}</th>
                                                <td>{{ societe.adresse }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ "Ville"|trans }}</th>
                                                <td>{{ societe.ville }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ "Magasinier"|trans }}</th>
                                                <td>{{ societe.magasinier }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ "Directeur"|trans }}</th>
                                                <td>{{ societe.directeur }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ "Tel"|trans }}</th>
                                                <td>{{ societe.tel }}</td>
                                            </tr>
                                            <tr>
                                                <th>{{ "Fax"|trans }}</th>
                                                <td>{{ societe.fax }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
<hr>
                                    <a href="{{ path('societe_edit', {'id': societe.id}) }}"class="btn btn-primary">
                                        <i class="glyphicon  glyphicon-pencil" style="margin-left: 1rem"></i>{{ "Update societe informations"|trans }}</a>

                                </div>
                            </div>
                            <!-- /basic layout -->

                        </div>
                    </div>
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
        {% include('layout/footer.html.twig') %}
    </div>
    <!-- /page container -->
{#</div>#}

{% endblock %}
