
{% extends 'base.html.twig' %}

{# {% block title %} {{ app.user.email|upper }} {% endblock %} #}
{% block body_class %} class="nav-md" {% endblock %}
{% block body %}
    {#<div class="layout-boxed navbar-top">#}
        {% include('layout/navbar.html.twig') %}
        <!-- Page container -->
        <div class="page-container">
            <!-- Page content -->
            <div class="page-content">
                <!-- Main content -->
                <div class="content-wrapper">
                    <!-- Page header -->
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title"> </div>
                        </div>

                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="#"><i class="icon-home2 position-left"></i> الملف</a></li>
                                <li class="active">النوع</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /page header -->
                    <!-- Content area -->
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="col-md-12">

                                <!-- Basic layout-->
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h1 class="panel-title">{{ "Info Type"|trans }}</h1>
                                        <div class="heading-elements">
                                            <ul class="icons-list">
                                                <li><a data-action="collapse"></a></li>
                                            </ul>
                                        </div>
                                        {% include('layout/flash-messages.html.twig') %}
                                    </div>
                                    <hr>

                                    <div class="panel-body">
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">{{ "Designation type"|trans }}</label>
                                            <div class="col-lg-6">
                                                {{ form_widget(form.designation,{'attr': {'class':'form-control col-lg-6'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">{{ "Description"|trans }}</label>
                                            <div class="col-lg-6">
                                                {{ form_widget(form.description,{'attr': {'class':'form-control col-lg-6'} }) }}
                                            </div>
                                        </div>

                                        <hr>
                                        <div class="form-group">
                                            {{ include('type/_form.html.twig') }}
                                        </div>
                                        {{ form_end(form) }}

                                    </div>
                                </div>
                                <!-- /basic layout -->

                            </div>

                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="title">
                                        <h1> &nbsp;{{ "Type index"|trans }}&nbsp;&nbsp; </h1>
                                        <hr>
                                    </div>
                                    <div class="content">
                                        <div class="row">

                                            <table class="table table-bordered">
                                                <thead>
                                                <tr class="bg-orange-800">
                                                    <th>{{ "Designation type"|trans }}</th>
                                                    <th>{{ "Description"|trans }}</th>
                                                    <th class="text-right">
                                                        <a href="{{ path('type_new') }}" class="btn btn-success btn-rounded">
                                                            <i class="glyphicon  glyphicon-plus" style="margin-left: 1rem"></i>{{ "Create new Type"|trans }} </a>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for type in types %}
                                                    <tr>
                                                        <td>{{ type.designation }}</td>
                                                        <td>{{ type.description }}</td>
                                                        <td>
                                                            {# <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-default btn-rounded"><i class="glyphicon  glyphicon-search"></i>
                                                                 {{ "show"|trans }}
                                                             </a>#}
                                                            <a href="{{ path('type_edit', {'id': type.id}) }}" class="btn btn-primary btn-rounded"><i class="glyphicon  glyphicon-edit" style="margin-left: 1rem"></i>
                                                                {{ "edit"|trans }}
                                                            </a>
                                                            <a href="{{ path('type_delete', {'id': type.id}) }}" class="btn btn-danger btn-rounded"><i class="glyphicon  glyphicon-trash" style="margin-left: 1rem"></i>
                                                                {{ "Delete"|trans }}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr class="text-center">
                                                        <td colspan="3">{{ "no records found"|trans }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            <br>
                                                <div class="text-right" >
                                                    {{ knp_pagination_render(types) }}
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /content area -->
                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->
            {% include('layout/footer.html.twig') %}
        </div>
        <!-- /page container -->

{% endblock %}