
{% extends 'base.html.twig' %}

{# {% block title %} {{ app.user.email|upper }} {% endblock %} #}
{% block body_class %} class="nav-md" {% endblock %}
{% block body %}

    {#<div class="layout-boxed navbar-top">#}
    {% include('layout/navbar.html.twig') %}
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="col-md-12">
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">

                            </div>
                        </div>
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="#"><i class="icon-home2 position-left"></i> الملف</a></li>
                                <li class="active">جرد المخزون</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="col-md-12">
                    <div class="panel">
                       {# <div class="col-md-12">

                            <!-- Basic layout-->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{{ "New inventaire"|trans }}</h1>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a data-action="collapse"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>

                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th>{{ "Date"|trans }}</th>
                                            <td>{{ inventaire.date ? inventaire.date|date('Y-m-d') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ "Num inv"|trans }}</th>
                                            <td>{{ inventaire.numInv }}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <hr>
                                    <div class="form-group">
                                        <div class="text-right">
                                            <a href="{{ path('inventaire_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-arrow-right" style="margin-left: 1rem"></i>{{ "back to list"|trans }}</button>
                                            </a>
                                        </div>
                                    </div>
                                    #}{#{{ form_end(form) }}#}{#

                                </div>
                            </div>
                            <!-- /basic layout -->
                        </div>#}
                        <div class="col-md-12">
                            <div class="panel">

                                <div class="content">
                                    <div class="row">

                                        <!-- Basic layout-->
                                        <div class="panel panel-flat">
                                            <div class="panel-heading">
                                                <h1 class="panel-title">{{ "Info inventaire"|trans }}</h1>
                                                <div class="heading-elements">
                                                    <ul class="icons-list">
                                                        <li><a data-action="collapse"></a></li>
                                                    </ul>
                                                </div>
                                                {% include('layout/flash-messages.html.twig') %}
                                            </div>
                                            <hr>
                                            <div class="panel-body">

                                                <div class="col-md-12">
                                                    {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                                                    <div class="form-group">
                                                        <label class="col-lg-3 control-label">{{ "Article"|trans }}</label>
                                                        <div class="col-lg-6">
                                                            {{ form_widget(form.article,{'attr': {'class':'form-control col-lg-6'} }) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-3 control-label">{{ "Qte inv"|trans }}</label>
                                                        <div class="col-lg-6">
                                                            {{ form_widget(form.qteInv,{'attr': {'class':'form-control col-lg-6'} }) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-3 control-label">{{ "Qte stck"|trans }}</label>
                                                        <div class="col-lg-6">
                                                            {{ form_widget(form.stock,{'attr': {'class':'form-control col-lg-6'} }) }}
                                                        </div>
                                                    </div>

                                                    <hr>
                                                    <div class="form-group">
                                                        {{ include('ligne_inventaire/_form.html.twig') }}
                                                    </div>
                                                    {{ form_end(form) }}
                                                </div>


                                            </div>
                                        </div>
                                        <!-- /Basic layout-->
                                    </div>
                                </div>
                            </div>
                            <!-- /content area -->
                        </div>
                        <!-- /main content -->

                    </div>
                    <!-- /page content -->
                    {% include('layout/footer.html.twig') %}
                </div>
                <!-- /page container -->
            </div>
        </div>
    </div>
{% endblock %}

