

{% extends 'base.html.twig' %}

{# {% block title %} {{ app.user.email|upper }} {% endblock %} #}
{% block body_class %} class="nav-md" {% endblock %}
{% block body %}

    {#<div class="layout-boxed navbar-top">#}
    {% include('layout/navbar.html.twig') %}
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="col-md-12">
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">

                            </div>
                        </div>
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="#"><i class="icon-home2 position-left"></i> الملف</a></li>
                                <li class="active">دخول البضاعة</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="col-md-12">
                    <div class="panel">
                        <div class="col-md-12">

                            <!-- Basic layout-->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{{ "Info Entree"|trans }}</h1>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a data-action="collapse"></a></li>
                                        </ul>
                                    </div>
                                    {% include('layout/flash-messages.html.twig') %}
                                </div>
                                <hr>

                                <div class="panel-body">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{ "Date entree"|trans }}</label>
                                        <div class="col-lg-3">
                                            {{ form_widget(form.dateEntree) }}
                                        </div>
                                    </div>
                                    {#<div class="content-group-lg">
                                        <h6 class="text-semibold">{{ "Date entree"|trans }}</h6>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-calendar5"></i></span>
                                            #}{#<input type="text" class="form-control pickadate-selectors" >#}{#
                                            {{ form_widget(form.dateEntree) }}

                                        </div>
                                    </div>#}
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{ "Date bon commande"|trans }}</label>
                                        <div class="col-lg-3">
                                            {{ form_widget(form.date_bc,{'attr': {'class':'form-control col-lg-6'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{ "Numero entree"|trans }}</label>
                                        <div class="col-lg-6">
                                            {{ form_widget(form.num_entree,{'attr': {'class':'form-control col-lg-6'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{ "Reference"|trans }}</label>
                                        <div class="col-lg-6">
                                            {{ form_widget(form.reference,{'attr': {'class':'form-control col-lg-6'} }) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{ "Numero bon commande"|trans }}</label>
                                        <div class="col-lg-6">
                                            {{ form_widget(form.num_bc,{'attr': {'class':'form-control col-lg-6'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{ "Fournisseur"|trans }}</label>
                                        <div class="col-lg-6">
                                            {{ form_widget(form.fournisseur,{'attr': {'class':'form-control col-lg-6'} }) }}
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="form-group">
                                        {{ include('entree/_form.html.twig') }}
                                    </div>
                                    {{ form_end(form) }}

                                </div>
                            </div>
                            <!-- /basic layout -->

                        </div>
                    </div>
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
        {% include('layout/footer.html.twig') %}
    </div>
    <!-- /page container -->
    {#</div>
    </div>#}
{% endblock %}