{% extends 'base.html.twig' %}
{% import "form.html.twig" as formulaire %}
 {% block title %} {{ app.user.email|upper }} {% endblock %}

{% block body_class %} class="nav-md" {% endblock %}
{% block body %}

    {#<div class="layout-boxed navbar-top">#}
    {% include('layout/navbar.html.twig') %}

        <!-- Page container -->
        <div class="page-container">
            <!-- Page content -->
            <div class="page-content">
                <!-- Main content -->
                <div class="content-wrapper">
                    <!-- Page header -->
                    <div class="col-md-12">
                        <div class="page-header page-header-default">
                            <div class="page-header-content">
                                <div class="page-title">

                                </div>
                            </div>
                            <div class="breadcrumb-line">
                                <ul class="breadcrumb">
                                    <li><a href="#"><i class="icon-home2 position-left"></i> الادارة</a></li>
                                    <li class="active">الادمين</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <!-- /page header -->
                    <!-- Content area -->
                    <div class="col-md-12">
                        <div class="panel">




                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="title">
                                        <h1> &nbsp;{{ "Admin index"|trans }}&nbsp;&nbsp; </h1>

                                        <hr>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr class="bg-orange-800">
                                                    <th>{{"Fullname"|trans}}</th>
                                                    {#<th>Roles</th>#}
                                                    <th>{{"Societe"|trans}}</th>
                                                   {# <th>{{"Rib"|trans}}</th>
                                                    <th>{{"Cin"|trans}}</th>
                                                    <th>{{"Tel"|trans}}</th>
                                                    <th>{{"Adresse"|trans}}</th>#}
                                                    <th>{{"Email"|trans}}</th>
                                                    <th>{{"Avatar"|trans}}</th>
                                                    <th class="text-right">
                                                        <a href="{{ path('user_new') }}" class="btn btn-success btn-rounded">
                                                            <i class="glyphicon  glyphicon-plus" style="margin-left: 1rem"></i>{{ "Create new user"|trans }} </a>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for admin in admins %}
                                                    <tr>
                                                        {#<td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
                                                        <td>{{ admin.fullname }}</td>
                                                        <td>{{ admin.societe }}</td>
                                                       {# <td>{{ user.rib }}</td>
                                                        <td>{{ user.cin }}</td>
                                                        <td>{{ user.tel }}</td>
                                                        <td>{{ user.adresse }}</td>#}
                                                        <td>{{ admin.email }}</td>
                                                        <td><img src="{{ asset('uploads/icones/'~admin.avatar) }}" class="img-circle img-sm"></td>
                                                        <td>       <a href="{{ path('admin_edit', {'id': admin.id}) }}" class="btn btn-primary btn-rounded"><i class="glyphicon  glyphicon-edit" style="margin-left: 1rem"></i>
                                                                {{ "edit"|trans }}
                                                            </a>
                                                            <a href="{{ path('admin_delete', {'id': admin.id}) }}" class="btn btn-danger btn-rounded"><i class="glyphicon  glyphicon-trash" style="margin-left: 1rem"></i>
                                                                {{ "Delete"|trans }}
                                                            </a>
                                                            
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr class="text-center">
                                                        <td colspan="9">{{ "no records found"|trans }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /content area -->
                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->
            {% include('layout/footer.html.twig') %}
        </div>
        <!-- /page container -->


{% endblock %}