
{% extends 'base.html.twig' %}

{# {% block title %} {{ app.user.email|upper }} {% endblock %} #}
{% block body_class %} class="nav-md" {% endblock %}
{% block body %}

    {#<div class="layout-boxed navbar-top">#}
    {% include('layout/navbar.html.twig') %}
    <!-- Page container -->
    <div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Page header -->
            <div class="col-md-12">
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">

                        </div>
                    </div>
                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icon-home2 position-left"></i> الملف</a></li>
                            <li class="active">خروج البضاعة</li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- /page header -->
            <!-- Content area -->
            <div class="col-md-12">
                <div class="panel">
                    <div class="col-md-12">

                        <div class="col-md-12">
                            <div class="panel">
                                <div class="title">
                                    <h1> &nbsp;{{ "Sortie index"|trans }}&nbsp;&nbsp; </h1>
                                    <hr>
                                </div>
                                <div class="content">
                                    <div class="row">

                                        <table class="table table-bordered">
                                            <thead>
                                            <tr class="bg-orange-800">

                                                <th>{{ "Date"|trans }}</th>
                                                <th>{{ "Bon_sortie"|trans }}</th>
                                                <th>{{ "Num"|trans }}</th>
                                                <th>{{ "Benificiaire"|trans }}</th>
                                                <th class="text-right">
                                                    <a href="{{ path('sortie_new') }}" class="btn btn-success btn-rounded">
                                                        <i class="glyphicon  glyphicon-plus" style="margin-left: 1rem"></i>{{ "Create new sortie"|trans }} </a>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for sortie in sorties %}
                                                <tr>
                                                    <td>{{ sortie.date ? sortie.date|date('Y-m-d') : '' }}</td>
                                                    <td>{{ sortie.bonSortie }}</td>
                                                    <td>{{ sortie.num }}</td>
                                                    <td>{{ sortie.benificiaire }}</td>
                                                    <td>
                                                        {# <a href="{{ path('entree_show', {'id': entree.id}) }}" class="btn btn-default btn-rounded"><i class="glyphicon  glyphicon-search"></i>
                                                             {{ "show"|trans }}
                                                         </a>#}
                                                        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}" class="btn btn-primary btn-rounded"><i class="glyphicon  glyphicon-edit" style="margin-left: 1rem"></i>
                                                            {{ "edit"|trans }}
                                                        </a>
                                                        <a href="{{ path('sortie_delete', {'id': sortie.id}) }}" class="btn btn-danger btn-rounded"><i class="glyphicon  glyphicon-trash" style="margin-left: 1rem"></i>
                                                            {{ "Delete"|trans }}
                                                        </a>
                                                    </td>
                                                </tr>

                                            {% else %}
                                                <tr class="text-center">
                                                    <td colspan="5">{{ "no records found"|trans }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
        {% include('layout/footer.html.twig') %}
    </div>
    <!-- /page container -->
{% endblock %}