{% extends 'base.html.twig' %}

{% block title %}LigneSortie{% endblock %}

{% block body %}
    <h1>LigneSortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_sortie.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ ligne_sortie.reference }}</td>
            </tr>
            <tr>
                <th>Qte</th>
                <td>{{ ligne_sortie.qte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_sortie_index') }}">back to list</a>

    <a href="{{ path('ligne_sortie_edit', {'id': ligne_sortie.id}) }}">edit</a>

    {{ include('ligne_sortie/_delete_form.html.twig') }}
{% endblock %}
