
{% extends 'base.html.twig' %}

{# {% block title %} {{ app.user.email|upper }} {% endblock %} #}
{% block body_class %} class="nav-md" {% endblock %}
{% block body %}

    {#<div class="layout-boxed navbar-top">#}
    {% include('layout/navbar.html.twig') %}
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="col-md-12">
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">

                            </div>
                        </div>
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="#"><i class="icon-home2 position-left"></i> الملف</a></li>
                                <li class="active">المخزون</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="col-md-12">
                    <div class="panel">

                        <div class="col-md-12">
                            <div class="panel">
                                <div class="title">
                                    <h1> &nbsp;{{ "Stock initial"|trans }}&nbsp;&nbsp; </h1>

                                    <hr>
                                </div>
                                <div class="content">
                                    <div class="row">
                                        {# ------------filtrage ----------#}
                                        <form class="col-lg-3" role="search" methode="get">
                                            <div class="input-group lg-3">
                                                <input type="search" class="form-control" placeholder="اسم البضاعة" name="search">
                                                <div class="input-group-addon">
                                                    <button class="btn btn-primary" type="submit" id="button-addon2"><i class="glyphicon glyphicon-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                        {#<form class="col-lg-3" role="search" methode="get">
                                            <div class="input-group lg-6">
                                                <div class="col-lg-6">
                                                    <input type="search" class="form-control" placeholder="اسم البضاعة" name="search">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="search" class="form-control" placeholder="الصنف" name="search">
                                                </div>
                                                <div class="input-group-addon">
                                                    <button class="btn btn-primary" type="submit" id="button-addon2"><i class="glyphicon glyphicon-search"></i></button>
                                                </div>
                                            </div>
                                        </form>#}
                                        {#  <form class="col-lg-3" role="search" methode="get">
                                              <div class="input-group lg-3">
                                                  <div class="col-lg-6">
                                                      <input type="search" class="form-control" placeholder="الصنف" name="search">
                                                  </div>
                                                  <div class="col-lg-6">
                                                      <input type="search" class="form-control" placeholder="النوع" name="search">
                                                  </div>
                                                  <div class="input-group-addon">
                                                      <button class="btn btn-primary" type="submit" id="button-addon2"><i class="glyphicon glyphicon-search"></i></button>
                                                  </div>
                                              </div>
                                          </form>#}

                                        {# <div class="form-group">
                                         {{ form_start(form_search, {'attr': {'class': 'form-horizontal form-label-left'}}) }}

                                             <div class="col-lg-4">
                                                 {{ form_widget(form_search.categorie,{'attr': {'class':'form-control col-lg-6'} }) }}
                                             </div>
                                             <div class="col-lg-4">
                                                 {{ form_widget(form_search.type,{'attr': {'class':'form-control col-lg-6'} }) }}
                                             </div>

                                         <button class="btn btn-primary" type="submit" id="button-addon2"><i class="glyphicon glyphicon-search"></i>بحث</button>

                                         {{ form_end(form_search) }}
                                         </div>#}

                                        <table class="table table-bordered">
                                            <thead>
                                            <tr class="bg-orange-800">
                                                <th>{{ "Libele ar"|trans }}</th>
                                                <th>{{ "Categorie"|trans }}</th>
                                                <th>{{ "Type"|trans }}</th>
                                                <th>{{ "Qte ini"|trans }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for article in articles|sort|reverse %}
                                                <tr>
                                                    <td>{{ article.libele }}</td>
                                                    <td>{{ article.categorie }}</td>
                                                    <td>{{ article.type }}</td>
                                                    <td>{{ article.qteIni }}</td>

                                                </tr>
                                            {% else %}
                                                <tr class="text-center">
                                                    <td colspan="4">{{ "no records found"|trans }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <br>
                                        {#<div class="text-right" >
                                            {{ knp_pagination_render(articles) }}
                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
        {% include('layout/footer.html.twig') %}
    </div>
    <!-- /page container -->
    
{% endblock %}